@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #FFFAEE;

}

/* header */

header {
    width: 100%;

}


header .headertop {
    display: flex;
    width: 100%;
    height: 52px;
    justify-content: space-between;
    position: relative;
    z-index: 99;
    background-color:  #FFFAEE;

}
header .headertop.on {
    position: fixed;
    top: 0; left: 0;
    z-index: 99;
}
header .logo h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Zen Old Mincho", serif;
    font-weight: 500;
}

header .logo {
    font-size: 10px;
    color: #8E0D0D;
}

header .right {
    justify-content: flex-end;
    display: flex;
    gap: 15px;
    margin-left: auto;
    padding: 10px 30px;
    vertical-align: middle;
}

header .right a,
header .right p {
    color: #8E0D0D;
}

header .right img {
    width: 30px;
    height: 35px;
    cursor: pointer;

}

header .search {
    display: flex;

    align-items: center;
}

header input {
    width: 100%;
    height: 32px;
    border-radius: 40px;
    padding-left: 10px;
    border: 2px solid #8e0d0d85;
    background-color: #FFFAEE;
    outline: none;

}

header .inputbox {
    display: block;
    width: 0;
    height: 32px;
    transition: all .3s;
    overflow: hidden;
}

header .search {
    gap: 12px;
}

header .inputbox.on {
    width: 180px;

}

header .log {
    display: flex;
    gap: 10px;
    align-items: center;
}

header .lan {
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 9;
    padding: 0 5px;
    text-align: center;
    position: relative;
   
}

header .lan>li {
    position: relative;
    width: 100%;
    background-color: #FFFAEE;
    padding: 3px 5px;
}

header .lan>li ul {
    position: absolute;
    top: 28px; left: 3px;
    display: none;
    width: 30px;
    background-color: #FFFAEE;


}

header .lan li ul>li a {
    display: block;
    width: 100%;
    /* background-color:  #FFFAEE;/ */

}

header .lan li:hover ul {
    display: block;
}

header .headerleft {
    width: 100%;
    position: absolute;
    top: 52px;
    left: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
}

header .depth1 {
    display: flex;
    width: 50%;
    padding: 15px;
    height: 50px;
}

header .depth1>li {
    position: relative;
}

header .depth1>li a:hover {
    color: #333;
}

header .depth2 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    position: absolute;
    top: 35px;
    left: 0;
}

header .depth1>li:hover .depth2 {
    opacity: 1;
}

header .depth1>li:hover header .depth1>li a {
    color: black;
}

header .headerleft .depth2>li:hover a {
    color: #8E0D0D;

}

header .depth1>li>a {
    padding: 20px 20px;
    color: #8E0D0D;
    text-align: center;
}

header .depth2 li {
    padding: 5px 5px;
    text-align: center;
}

header .headerleft .depth1 > li::after {
    content: '';
    background-color: #8E0D0D;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    position: absolute;
    top: 0px; left: 7px;
    display: block;
    z-index: 99;
    opacity: 0;
}
header .headerleft .depth1 > li:hover::after {
    opacity: 1;


}


/* //goptop */

.gotop{
    width: 50px;
    height:50px;
    position: fixed;
    bottom: 30px; right: 30px;
    z-index: 999;
    display: none;
    cursor: pointer;
}
.gotop img {
    width: 100%;
}










/* main text */

.maintext {
    margin: 50px 0 20px 0;

}

.maintext .text {
    text-align: center;
    padding-top: 50px;
}

.maintext .text h2 {
    color: #8E0D0D;
    font-family: "Zen Old Mincho", serif;
    font-size: 50px;
    font-weight: 500;
    padding: 40px 20px;
}

.maintext .text p {
    color: #6c6c6c;
    font-size: 20px;
    padding: 10px;
}

/* section2 */

.section2 {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 200px;
    padding: 0px 0 200px ;
    border-top: 2.5px dashed #8E0D0D;
}

.section2 .inner .besttext {
    text-align: center;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFAEE;
    padding: 0 25px;

}

.section2 .inner .besttext h3 {
    font-family: "Zen Old Mincho", serif;
    font-size: 35px;
    font-weight: 300;
    padding-bottom: 40px;
}

.section2 .inner .besttext p {
    color: #000;

}


.section2 .inner {
    padding: 50px;

}

.section2 .bestlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 1260px;
    padding-top: 100px;
    justify-content: center;
    justify-items: center;
    margin-top: 50px;

}

.section2 .bestlist .list .price {
    display: flex;
    align-items: center;
}

.section2 .bestlist .list>p {
    color: #6c6c6c;
    padding: 5px 5px;
    font-size: 14px;
}

.section2 .bestlist .list .price P:nth-child(1) {
    color: rgb(224, 0, 0);
    font-weight: 700;
    font-size: 16px;
}

.section2 .bestlist .list .price P:nth-child(2) {
    color: black;
    font-size: 16px;
}

.section2 .bestlist .list .price P:nth-child(3) {
    font-size: 14px;
    text-decoration: line-through;
}

.section2 .bestlist .list .price P {
    padding: 0 5px;
    margin-bottom: 25px;
}

.section2 span {
    background-color: #8E0D0D;
    width: 120px;
    height: 50px;
    display: block;
    margin:30px auto;
    border-radius: 40px;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
    box-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.5);
}

.section2 span:hover {
    background: linear-gradient(110deg, #8E0D0D 0%, rgba(180, 53, 53, 0.8) 30%,
            #8E0D0D 40%);
    background-size: 250%;
    animation: hover 1.5s;
}

@keyframes hover {
    0% {
        background-position: 50% 0;
    }

    100% {
        background-position: -100% 0;
    }

}

.section2 span a {
    color: white;
    font-size: 16px;
    font-weight: 400;

}
.section2 span .fa-plus{
    color: white;
    font-size: 12px;
   margin-left: 8px;
   transition: all .5s;
}
.section2 span:hover .fa-plus{
    transform: rotate(90deg);

}




/* section3 */

.section3 {
    width: 100%;
    height: 800px;
    position: relative;
}

.section3::before {
    content: '';
    background: url('../image/be.png')no-repeat center/cover;
    position: absolute;
    top: -170px;
    left: 0%;
    width: 100%;
    height: 1300px;
    opacity: 0.45;
}

.section3 .review {
    text-align: center;
    padding: 0 25px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFAEE;
    z-index: 9;

}

.section3 .review h3 {
    font-family: "Zen Old Mincho", serif;
    font-size: 35px;
    font-weight: 300;
    padding-bottom: 40px;

}

.section3 .review p {
    color: #000;
}

.section3 .reviewin {
    background-color: rgb(255, 255, 255);
    padding: 10px;

}

.section3 .swiper.myreview {
    width: 80%;
    height: 900px;
    padding-top: 100px;
    margin-top: 50px;

}

.section3 .boder {
    border-top: 2.5px dashed #8E0D0D;

}

.section3 .swiper.myreview .swiper-slide>img {
    width: 100%;
    display: block;
}

.section3 .swiper.myreview .swiper-wrapper .retext {
    height: 150px;
}

.section3 .swiper.myreview .swiper-wrapper .retext h3 {
    color: #000;
    font-size: 18px;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.section3 .swiper.myreview .swiper-wrapper .retext>p {
    color: #6c6c6c;
}

.section3 .swiper.myreview .swiper-slide {
    width: 450px;
}

.section3 .swiper.myreview .swiper-wrapper {
    margin-bottom: 50px;
}

.section3 .swiper.myreview .swiper-wrapper .star {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin-bottom: 15px;
}

.section3 .swiper.myreview .swiper-wrapper .star p {
    color: #333;
    font-size: 10px;
}

.section3 .swiper.myreview .swiper-wrapper .star img {
    height: 18px;
    width: 85px;
}

.section3 .swiper.myreview .swiper-wrapper .reinner {
    display: flex;
    gap: 20px;
    align-items: center;
}

.section3 .swiper.myreview .swiper-wrapper .reinner p {
    font-size: 14px;
    color: #333;

}

.section3 span {
    background-color: #8E0D0D;
    width: 120px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    cursor: pointer;
    box-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.5);
    z-index: 999;
   
    

}
.section3 span .fa-plus{
    color: white;
    font-size: 12px;
   margin-left: 8px;
   transition: all .5s;
}
.section3 span:hover .fa-plus{
    transform: rotate(90deg);

}
.section3 span:hover {
    background: linear-gradient(110deg, #8E0D0D 0%, rgba(180, 53, 53, 0.8) 30%,
            #8E0D0D 40%);
    background-size: 250%;
    animation: hover2 1.5s;
}

@keyframes hover2 {
    0% {
        background-position: 50% 0;
    }

    100% {
        background-position: -100% 0;
    }

}

.section3 span a {
    color: white;
    font-size: 16px;
    font-weight: 400;
}




/* section4 */

.section4 {
    width: 100%;
    padding-top: 100px;
    margin-top: 250px;
    border-top: 2.5px dashed #8E0D0D;
    position: relative;
}

.section4 .newlist {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    padding: 50px;
    margin-top: 50px;
    height: 700px;
    position: relative;
}

.section4 .new {
    text-align: center;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 25px;
    background-color: #FFFAEE;

}

.section4 .new h3 {
    font-family: "Zen Old Mincho", serif;
    font-size: 35px;
    font-weight: 300;
    padding-bottom: 40px;

}
.section4 .item  > div {
    position: relative;
    overflow: hidden;
}
.section4 .item  > div >img{
    display: block;
}
.section4 .item .hoverim {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    transition: all .3s;
}
.section4 .item .hoverim img:nth-child(1) {
    position: absolute;
    bottom: 10px; right: 50px;
   visibility: hidden;
   opacity: 0;

}
.section4 .item .hoverim img:nth-child(2) {
    position: absolute;
    bottom: 10px; right: 20px;
    visibility: hidden;
   opacity: 0;
    

}
.section4 .item:hover .hoverim {
    background-color: rgba(0, 0, 0, 0.247);
    bottom: 10px;
}
.section4 .item:hover .hoverim > img{
    visibility: visible;
    opacity: 1;

}
.section4  .new p:nth-child(1) {
    color: #000;
    font-size: 16px;
}

.section4>p {
    font-size: 20px;
    color: #8E0D0D;
    text-align: center;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);

}

.section4 .newlist .item .listtext .ppp {
    display: flex;
    align-items: center;
}

.section4 .newlist .item .listtext>p {
    color: #6c6c6c;
    padding: 5px 5px;
    font-size: 14px;

}

.section4 .listtext .ppp p:nth-child(1) {
    color: rgb(224, 0, 0);
    font-weight: 700;
    font-size: 16px;
}

.section4 .listtext .ppp p:nth-child(2) {
    color: black;
    font-size: 16px;
}

.section4 .listtext .ppp p:nth-child(3) {
    font-size: 14px;
    text-decoration: line-through;
}

.section4 .newlist .item .listtext .ppp p {
    padding: 0 5px;
    margin-bottom: 25px;
}


/* section5 */

.section5 {
    margin-top: 300px;
    position: relative;
    padding-bottom: 150px;
}

.section5 .wrap5 {
    border-top: 2.5px dashed #8E0D0D;
}

.section5 .eventtext {
    text-align: center;
    position: absolute;
    left: 50%;
    top: -80px;
    transform: translateX(-50%);
    padding: 0 25px;
    background-color: #FFFAEE;
}

.section5 .eventtext h3 {
    font-family: "Zen Old Mincho", serif;
    font-size: 35px;
    font-weight: 300;
    padding-bottom: 40px;
}

.section5 .eventinner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    margin-top: 150px;
    text-align: center;
}

.section5 .eventinner .coutext p:nth-child(1) {
    font-family: "Zen Old Mincho", serif;
    color: #000;
    font-size: 22px;
}

.section5 .eventinner .coutext h4 {
    color: #8E0D0D;
    font-size: 26px;
    font-weight: 600;
    padding: 15px 0;

}

.section5 .eventinner .coutext p:nth-child(3) {
    color: #4b4b4b;
    padding-bottom: 20px;
}

.section5 .imgbox {
    position: relative;
}

.section5 .imgbox .pr {
    display: flex;
    text-align: center;
    align-items: flex-end;
    gap: 10px;

}

.section5 .imgbox .pr p {
    color: white;
}

.section5 .imgbox .pr p:nth-child(1) {
    font-size: 40px;
    font-family: "Zen Old Mincho", serif;
}

.section5 .imgbox .pr p:nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    vertical-align: bottom;
    padding-bottom: 8px;
}

.section5 .coupon {
    cursor: pointer;
}

.section5 .coupon .imgbox {
    transition: all .3s;
}

.section5 .coupon:hover .imgbox {
    transform: translateY(-4px);
}

.section5 .coupon .imgbox img {
    transition: all .3s;
}

.section5 .coupon:hover .imgbox img {
    filter: grayscale(100%);
}

.section5 .coupon .imgbox .pr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

.section5 .coupon:hover .imgbox .pr {
    top: 38%;
}

.section5 .coupon .hovertext {
    position: absolute;
    width: 100%;
    font-size: 20px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s;
}

.section5 .coupon .hovertext p {
    color: #fff;
}

.section5 .coupon:hover .hovertext {
    opacity: 1;
    top: 68%;
}



/* footer */

footer {
    background-color: #8E0D0D;
    padding: 18px 40px;
    position: relative;
}

footer .fwrap {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

footer .fwrap p,
h4 {
    color: #fff;
}

footer .flogo p {
    font-size: 12px;
    font-weight: 300;
    padding: 20px 0;
}

footer .center p,
.company p {
    font-size: 12px;
    font-weight: 300;
    padding: 5px 0;
}

footer .fwrap .about {
    color: #8E0D0D;
    width: 150px;
    margin-top: 19px;
    align-items: center;
    font-size: 16px;

}

footer .fwrap .about>ul {
    background-color: #FFFAEE;
    padding: 0 5px;
}

footer .fwrap .about>ul>li:first-child>a {
    font-weight: 500;
    margin: 5px;
}

footer .fwrap .about>ul>li:first-child>img {
    margin-left: 50px;
}

footer .fwrap .about>ul>li {
    position: relative;
    width: 150px;
    height: 30px;
    line-height: 30px;
}

footer .fwrap .about .depth {
    position: absolute;
    padding: 0 5px;
    width: 100%;
    background-color: #FFFAEE;
    top: 30px;
    left: -5px;
    opacity: 0;
    transition: all .3s;
    visibility: hidden;
}

footer .fwrap .about .depth li {
    margin: 5px;
}

footer .fwrap .about>ul>li:hover .depth {
    opacity: 1;
    visibility: visible;
}

footer .fwrap .about>ul>li:hover img {
    transform: rotate(180deg);
}

footer .fwrap .about>ul>li>a {
    font-weight: 700;
}


footer .fwrap .about .depth li:hover {
    color: #4b4b4b;
    font-weight: 600;
}

footer .fwrap h4 {
    padding-bottom: 50px;
    font-size: 18px;
}

footer .sns .ins,
.face {
    display: flex;
    align-content: center;
    gap: 15px;
    margin: 10px;
    cursor: pointer;
}

footer .sns .ins img,
.face img {
    width: 20px;
    height: 20px;
    opacity: 0.8;
}

footer .sns img:hover {
    opacity: 1;
}

footer .sns p {
    font-size: 14px;
    font-weight: 300;
}

footer .cs img {
    width: 100%;
    height: 100%;
}

footer .cs {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}